import styles from "./<%= componentName %>.module.css";

const <%= componentName %> = () => {
  return (
    <div>
      <div></div>
    </div>
  );
};

export default <%= componentName %>;
